# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
!.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project
data/processed/*
!data/processed/.gitkeep
data/index/*
!data/index/.gitkeep
data/cache/*
!data/cache/.gitkeep
test_results.txt

# OS
.DS_Store
Thumbs.db
